* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0C0D0C;
  color: #F2F2F2;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C0D0C;
  padding: 10px 20px;
  flex-wrap: wrap;
}

header div {
  display: flex;
  align-items: center;
  gap: 15px;
}

header img {
  width: 60px;
  height: auto;
  border-radius: 8px;
}

main {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

footer {
  background-color: #0C0D0C;
  color: #F2F2F2;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

h2 {
  background-color: #F22222;
  padding: 20px;
  margin: 20px 0;
  color: #F2F2F2;
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  padding: 15px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

section {
  margin-top: 70px;
  background-color: #BF1F1F;
  padding: 20px 0;
  border-radius: 10px;
}

article {
  background-color: #BF1F1F;
  color: #F2F2F2;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#noticia-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span.resaltado {
  font-weight: bold;
  color: #FFD700;
}
